<ul class="list-group">
	<li *ngFor="let task of tasks" class="list-group-item">
		<div class="task-checkbox">
			<input type="checkbox" 
				class="list-child"
				(change)="onTaskChange($event,task)"
				[checked]="task.completed">		
			<span ngClass="{{task.completed ? 'completed': 'name'}}">{{task.name}}</span>
			<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span class="label {{getDueDateLabel(task)}} pull-right">{{task.dueDate}}</span>			
		</div>
	</li>
</ul>